.mapContainer {
    position: relative;
    max-width: 200px;
    max-height: 200px;
    margin: 1rem auto;
}

.floorsMapsContainer {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.mapImg {
    width: 100%;
    height: auto;
    display: block;
}

.clickArea {
    position: absolute;
    left: 0;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    /* baja el texto */
    justify-content: flex-start;
    /* lo manda a la izquierda */
    padding: 10px;
    box-sizing: border-box;
}

.clickArea.top {
    top: -20px;
    left: -20px;
    height: 50%;
    align-items: flex-start;
}

.clickArea.bottom {
    bottom: -20px;
    left: 20px;
    height: 50%;
    justify-content: right;
}

.floorSection {
    margin-bottom: 1.5rem;
    text-align: center;
}