/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 80%;
  max-width: 600px;
}

.card {
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.galleryImgCard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.galleryImgCard img {
  max-width: 150px;
  max-height: auto;
  padding: 10px;
  border: solid 1px;
  border-radius: 10px;
}